.footer-btn__items
  %ul.footer-btn__items__list
    %li
      = link_to("カテゴリーを追加する", new_category_path, class:"footer-btn__items__list__category")
    %li
      = link_to("購入品を登録する", new_item_path, class:" .footer-btn__items__list__item")

    