.top-page__head
  .top-page__head__box
    .top-page__head__box__amount
      月目標 50,000円
    .top-page__head__box__current
      現在の金額 26,000円
    .top-page__head__box__remaining
      残り使える金額 24,000円

.top-page__categories
  .top-page__categories__titile
    カテゴリー別
  .top-page__categories__list
    .top-page__categories__list__box
      .top-page__categories__list__box__name
        書籍
      .top-page__categories__list__box__amount
        目標 10,000円
      .top-page__categories__list__box__total-price
        現在 5,000円
    .top-page__categories__list__box
      .top-page__categories__list__box__name
        書籍
      .top-page__categories__list__box__amount
        目標 10,000円
      .top-page__categories__list__box__total-price
        現在 5,000円
    .top-page__categories__list__box
      .top-page__categories__list__box__name
        書籍
      .top-page__categories__list__box__amount
        目標 10,000円
      .top-page__categories__list__box__total-price
        現在 5,000円
    
.top-page__items
  .top-page__items__titile
    購入品一覧
  .top-page__items__list
    .top-page__items__list__box
      .top-page__items__list__box__name
        カレーの作り方
      .top-page__items__list__box__date
        2020/02/29
      .top-page__items__list__box__price
        1,500円
    .top-page__items__list__box
      .top-page__items__list__box__name
        カレーの作り方
      .top-page__items__list__box__price
        1,500円
    .top-page__items__list__box
      .top-page__items__list__box__name
        カレーの作り方
      .top-page__items__list__box__price
        1,500円
    .top-page__items__list__box
      .top-page__items__list__box__name
        カレーの作り方
      .top-page__items__list__box__price
        1,500円
    .top-page__items__list__box
      .top-page__items__list__box__name
        カレーの作り方
      .top-page__items__list__box__price
        1,500円
  