* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.header-inner {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  position: fixed;
  z-index: 100;
  background-color: wheat;
  &__logo {
    font-size: 34px;
    line-height: 75px;
    font-weight: bold;
    a {
      color: black;
    }
  }
  &__nav-bar {
    &__member-menu-list {
      display: flex;
      padding-top: 40px;
      a {
        color: #333;
      }
      &__info {
        margin-right: 40px;
      }
    }
  }
}

.top-page__head {
  width: 100%;
  padding-top: 75px;
  font-weight: bold;
  &__user-name {
    font-size: 28px;
    padding-top: 20px;
    padding-left: 30px;
  }
  &__box {
    padding-bottom: 30px;
    display: flex;
    &__details {
      margin: 0 auto;
      &__amount {
        display: flex;
        &__price {
          font-size: 32px;
          margin-bottom: 10px;
        }
        &__edit {
          font-size: 26px;
          padding-top: 3px;
          margin-left: 10px;
          a {
            color: grey;
          }
        }
      }
      &__current {
        font-size: 20px;
      }
      &__remaining {
        font-size: 20px;
      }
    }
  }
}

.top-page__categories {
  max-width: 1200px;
  margin: 20px auto 10px;
  padding: 0 10px;
  &__title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
  }
  &__list {
    display: flex;
    a {
      color: black;
    }
    &__box {
      width: 20%;
      margin: 5px;
      padding: 5px 5px 10px;
      background: lightgrey;
      text-align: center;
      &__name {
        margin: 5px;
        font-weight: bold;
      }
    }
  }
}

.top-page__items {
  max-width: 1200px;
  margin: 60px auto 10px;
  padding: 0 10px;
  &__title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
    a {
      color: black;
    }
  }
  &__list {
    display: flex;
    &__box {
      width: 20%;
      margin: 5px;
      padding: 5px 5px 10px;
      background: lightcyan;
      text-align: center;
      &__name {
        margin: 5px;
        font-weight: bold;
      }
    }
  }
}

.footer-btn__items {
  width: 100%;
  height: 60px;
  margin-top: 20px;
  padding: 0 30px;
  position: fixed;
  bottom: 0;
  z-index: 100;
  background-color:wheat;
  &__list {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    line-height: 60px;
    font-weight: bold;
    font-size: 20px;
    a {
      color: black;
    }
  }
}