* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.header-inner {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  position: fixed;
  z-index: 1;
  &__logo {
    font-size: 34px;
    line-height: 80px;
    font-weight: bold;
    a {
      color: black;
    }
  }
  &__nav-bar {
    &__member-menu-list {
      display: flex;
      padding-top: 50px;
      a {
        color: #333;
      }
      &__info {
        margin-right: 40px;
      }
    }
  }
}

.top-page__head {
  width: 100%;
  padding-top: 80px;
  &__box {
    width: 300px;
    margin: auto;
    font-weight: bold;
    padding: 30px 0 20px;
    &__amount {
      font-size: 32px;
      margin-bottom: 10px;
    }
    &__current {
      font-size: 20px;
    }
    &__remaining {
      font-size: 20px;
    }
  }
}

.top-page__categories {
  max-width: 1200px;
  margin: 10px auto;
  padding: 0 10px;
  &__titile {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
  }
  &__list {
    display: flex;
    &__box {
      width: 20%;
      height: 100px;
      margin: 5px;
      padding: 5px;
      background: lightgrey;
      &__name {
        text-align: center;
        margin: 5px;
        font-weight: bold;
      }
    }
  }
}

.top-page__items {
  max-width: 1200px;
  margin: 60px auto 10px;
  padding: 0 10px;
  &__titile {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
  }
  &__list {
    display: flex;
    &__box {
      width: 20%;
      margin: 5px;
      padding: 5px 0 10px;
      background: lightcyan;
      text-align: center;
      &__name {
        margin: 5px;
        font-weight: bold;
      }
    }
  }
}

.footer-btn__items {
  width: 100%;
  height: 60px;
  margin-top: 20px;
  padding: 0 30px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  &__list {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    line-height: 60px;
    a {
      color: black;
    }
  }
}