* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.header-inner {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  &__logo {
    font-size: 34px;
    line-height: 80px;
    font-weight: bold;
    a {
      color: black;
    }
  }
  &__nav-bar {
    &__member-menu-list {
      display: flex;
      padding-top: 50px;
      a {
        color: #333;
      }
      &__info {
        margin-right: 40px;
      }
    }
  }
}