* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.items-page {
  width: 100%;
  padding-top: 95px;
  display: flex;
  &__left-bar {
    width: 300px;
    height: 100%;
    margin-left: 30px;
    margin-bottom: 25px;
    border: 1px solid lightgray;
    li {
      height: 60px;
      line-height: 60px;
      border-top: 1px solid lightgray;
      padding: 0 10px;
      a {
        color: #333;
        font-size: 18px;
      }
    }
    &__categories {
    }
  }
  &__main {
    width: 100%;
    margin: 10px 40px 85px 40px;
    &__title {
      text-align: center;
      height:40px;
      font-weight: bold;
      font-size: 20px;
      line-height: 40px;
    }
    &__list {
      margin-top: 10px;
      &__box {
        max-width: 800px;
        margin: 0 auto;
        border: 1px solid #333;
        margin-bottom: 20px;
        padding: 10px 10px 20px;
        text-align: center;
        &__date {
          text-align: left;
        }
        &__name {
          font-weight: bold;
          margin-bottom: 5px;
        }
      }
    }
  }
}

.content {
  width: 100%;
  height: 100%;
  padding-top: 85px;
  display: flex;
  align-items: center;
  font-size: 18px;
  .field {
    padding-bottom: 10px;
    input {
      width: 350px;
      height: 45px;
    }
    label {
     padding-left: 5px;
    }
    select {
      width: 350px;
      height: 45px;
    }
    .content__body__details__text {
      width: 350px;
      height: 120px;
    }
  }
  .actions {
    text-align: center;
    margin-top: 10px;
    input {
      width: 200px;
      height: 35px;
      background-color: lightyellow;
      border: solid 1px;
    }
  }
}