* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.items-page {
  width: 100%;
  padding-top: 95px;
  display: flex;
  &__left-bar {
    width: 280px;
    margin-left: 30px;
    border: 1px solid lightgray;
    &__categories {
      li {
        height: 60px;
        line-height: 60px;
        border-top: 1px solid lightgray;
        padding: 0 10px;
      }
      a {
        color: #333;
        font-size: 18px;
      }
    }
  }
  &__main {
  
  }
}