* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


li {
  list-style: none;
}

.items-page {
  width: 100%;
  padding-top: 95px;
  display: flex;
  &__left-bar {
    width: 300px;
    height: 100%;
    margin-left: 30px;
    margin-bottom: 25px;
    border: 1px solid lightgray;
    li {
      height: 60px;
      line-height: 60px;
      border-top: 1px solid lightgray;
      padding: 0 10px;
      a {
        color: #333;
        font-size: 18px;
        display: block;
      }
    }
    &__categories {
    }
  }
  &__main {
    width: 100%;
    margin: 10px 40px 85px 40px;
    &__search-box {
      padding: 15px 10px 25px 0;
      &__form {
        text-align: right;
        input {
          height: 35px;
          width: 250px;
        }
        button {
          height: 32px;
          width: 40px;
        }
      }
    }
    &__head {
      display: flex;
      justify-content: space-between;
      padding: 15px 10px 25px 10px;
      &__items-link {
        a {
        color: orange;
        line-height: 35px;
        }
      }
      &__search-box {
        &__form {
          text-align: right;
          input {
            height: 35px;
            width: 250px;
          }
          button {
            height: 32px;
            width: 40px;
          }
        }
      }
    }
    &__top-box {
      max-width: 800px;
      margin: 0 auto;
      &__top {
        display: flex;
        justify-content: space-between;
        height:50px;
        padding: 0 20px;
        &__title {
          line-height: 40px;
          font-weight: bold;
          font-size: 26px;
        }
        &__button {
          display: flex;
          padding-top: 11px;
          &__edit {
            margin-right: 10px;
          }
          a {
            color: gray;
            font-size: 18px;
          }
        }
      }
      &__top-new {
        height:50px;
        padding: 0 20px;
        &__title {
          text-align: center;
          line-height: 40px;
          font-weight: bold;
          font-size: 26px;
        }
      }
      &__details {
        width: 300px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
      }
    }
    &__list {
      margin-top: 10px;
      &__box {
        max-width: 800px;
        margin: 0 auto;
        border: 1px solid #333;
        margin-bottom: 20px;
        padding: 10px 15px 20px;
        text-align: center;
        &__top-box {
          display: flex;
          justify-content: space-between;
          &__button {
            display: flex;
            &__edit {
              margin-right: 10px;
            }
            a {
              color: gray;
            }
          }
        }
        &__name {
          font-weight: bold;
          margin-bottom: 5px;
        }
        &__category {
          a {
            color: orange;
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.content {
  width: 100%;
  height: 100%;
  padding-top: 85px;
  display: flex;
  align-items: center;
  font-size: 18px;
  .field {
    padding-bottom: 10px;
    input {
      width: 350px;
      height: 45px;
    }
    label {
      padding-left: 5px;
    }
    select {
      width: 350px;
      height: 45px;
    }
    .content__body__details__text {
      width: 350px;
      height: 120px;
    }
  }
  .field__price {
    input {
      width: 320px;
      height: 45px;
    }
  }
  .actions {
    text-align: center;
    margin-top: 10px;
    input {
      width: 200px;
      height: 35px;
      background-color: lightyellow;
      border: solid 1px;
    }
  }
}