* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


.content {
  width: 100%;
  height: 100%;
  padding-top: 85px;
  display: flex;
  align-items: center;
  font-size: 18px;
  .field {
    padding-bottom: 10px;
    input {
      width: 350px;
      height: 45px;
    }
    label {
     padding-left: 5px;
    }
    .content__body__details__price {
      width: 250px;
      height: 45px;
    }
  }
  .actions {
    text-align: center;
    margin-top: 10px;
    input {
      width: 200px;
      height: 35px;
      background-color: lightyellow;
      border: solid 1px;
    }
  }
  &__body {
    margin: 0 auto;
    background-color: white;
    &__title {
      font-weight: bold;
      text-align: center;
      padding: 10px 0 15px;
      &__details {
      }
    }
    &__sign-up {
      margin-top: 15px;
      font-size: 16px;
      text-align: center;
      &__button {
        a {
          color: orange;
        }
      }
    }
    &__link {
      margin-top: 20px;
      a {
        color: orange;
      }
    }
  }
}

.exit {
  padding-top: 30px;
  text-align: center;
  a {
    color: orange;
  }
}