* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.content {
  width: 100%;
  height: 100%;
  padding-top: 85px;
  display: flex;
  align-items: center;
  font-size: 18px;
  .field {
    padding-bottom: 10px;
    input {
      width: 350px;
      height: 45px;
    }
    label {
     padding-left: 5px;
    }
  }
  .actions {
    text-align: center;
    margin-top: 10px;
    input {
      width: 200px;
      height: 35px;
      background-color: lightyellow;
      border: solid 1px;
    }
  }
}
